.button {
	height: 50px;
	width: 100px;
	background-color: #1e90ff;
	color: #fff;
	margin: 0 50px;
}

.ai-button-off {
	background-color: #ff0000;
}

.ai-button-on {
	background-color: #adff2f;
	color: #000;
}